<div class="">
    <div class="">
        <h4>Edit post</h4>
    </div>

    <form class="edit-post-form">
        <div class="">
            <label class="form-label" for="post-title">Title</label>
            <textarea id='post-title' class="form-control">{{title}}</textarea>  {{!-- form-input --}}
        </div>

        <div>
            <label for="post=content" class="form-label" >Content</label>
            <textarea id='post-content' class="form-control" name="post-content" >{{post_text}}</textarea> {{!-- form-input --}}
        </div>

        <div>
            <button id='edit-post' type="submit" class="btn btn-primary">Update</button>
            <button id="delete-post"  type="submit" class="btn btn-primary">Delete</button>
        </div>
    </form>
</div>

<script src="/js/edit-post.js"></script>
<script src="/js/edit-post.js"></script>